CLAUDE.md
/.claude
/internal_doc/
/unity_kit/.dart_tool
/unity_kit/build
unity_kit/.DS_Store
unity_kit/unity/.DS_Store
unity_kit/unity/Assets/.DS_Store
unity_kit/.dart_tool/package_graph.json
models/*
/unity_kit/example/android/unityLibrary
